@model MingleBoxProject.Models.tbExamCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/main.cshtml";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.examcatname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.examcatname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.examcatid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
