@model MingleBoxProject.Models.tblState

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/main.cshtml";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.statename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stateid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
